{% extends 'seller/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid"  style="border-style: none; box-shadow: black 0px 20px 30px -10px; background-color:white;padding-top:20px; padding-bottom:20px;">
    <div class="card swing">
      <div class="card-body">
    <h2>Delete Plant</h2>
    <p>Are you sure you want to delete "{{ product.product_name }}"?</p>
    <form method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Confirm Delete</button>
      <a href="{% url 'viewaddproduct' %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
</div>
</div>
{% endblock %}
