{% load static %}


<html>
<head>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/sellervalidate.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">    <title>Register</title>
    
</head>
<style>
    #img1
{
    margin-left: 8360%;
}
span
{
    margin-left: 30px;
    display:flex;
}
</style>
<body>
    <nav class="Logo">
        <div class="container">
            <img id="logoimg" src="{% static 'images/Budoralogo.png' %}">
            <a id="logoname" href="#">BUDORA </a>
        </div>
    </nav>
        <div class="signup" >
            {% if messages %}
    <div class="error-message" style=" border-style:groove; border-color:red; border-width: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;   width:300px;margin-left:20px;margin-left: 5%; margin-top:-20px; ">
        <p style="color: red; margin-left: 20px; margin-top:5px; font-size:larger;">
                    {% for message in messages %}
                        {{ message }}
                     {% endfor %}
                 </p>
            </div>
            {% endif %}
                <div id="signuptext" >
                    <p id="signuptext1">sign up</p>
                    <hr id="signuptext2">
                    <h2 id="signuptext3">Hello there!</h2>
                </div>
                    <form class="signup-form" style=" width:45%; "  method="post" >     
                        {% csrf_token %}        
                            <input id="st" class="signupelement" placeholder="Store Name" style="margin-top: 1px;" name="storename" required>
                            <span id="stspan" style="font-size: small;"></span> <br>  
                            <input id="fn" class="signupelement" placeholder="Name" style="margin-top: 1px;" name="username" required>
                            <span id="fnspan" style="font-size: small;"></span> <br>                      
                            <input id="mail" class="signupelement" placeholder="Email" style="margin-top: 1px;" name="email" required>
                            <span id="emspan" style="font-size: small;"></span> <br>     
                            <input id="contact" class="signupelement" placeholder="Contact" style="margin-top: 1px;" name="contact" required>
                            <span id="cnspan" style="font-size: small;"></span> <br>    
                            <input id="address" class="signupelement" placeholder="Address" style="margin-top: 1px;" name="address" required>
                            <span id="adspan" style="font-size: small;"></span> <br>                                         
                            <input id="pass"  class="signupelement" placeholder="Password" style="margin-top: 1px;" name="pwd" type="password" required>
                            <span id="pspan" style="font-size: small;"></span>  <br>
                            <input id="cpass"  class="signupelement"  placeholder="Confirm Password" style="margin-top: 1px;" name="cpwd" type="password">
                            <span id="cpspan" style="font-size: small;"></span>  <br>
                            {% comment %} <div class="icon-container">
                                <a href="#"><span id="icon" class="fab fa-google" style="color: red"></span></a> <!-- Google icon placeholder -->
                                <a href="#"><span id="icon" class="fab fa-facebook"  style="color: blue"></span></a> <!-- Facebook icon placeholder -->
                                <a href="#"><span id="icon" class="fab fa-twitter" style="color: #1DA1F2"></span></a> <!-- Twitter icon placeholder -->
                            </div> {% endcomment %}
                            <button class="signupbtn" type="submit"  >Sign Up</button>
                           
                            <p id="signupelement2">Already have an account? <a href="{% url 'loginu' %}" style="color: #27350F; text-decoration: none">signin</a></p>
                    </form>
                <div class="signupimg">
                    <img id="img1" src="{% static 'images/9.png' %}">
                </div>               
        </div>
</body>
</html>


