
{% load static %}
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/userpro.css' %}" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <!-- Template Stylesheet -->
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% if user.is_superuser %}
    <div class="container-fluid sticky-top">
        <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light py-2 py-lg-2 ">
            <a href="index.html" class="navbar-brand text animated rubberBand" id="budoralogo" >
                <img class="img-fluid" src="{% static 'images/8.png' %}" alt="Logo">
                <a id="logoname" class="text animated rubberBand" href="#">BUDORA </a>
            </a>
            <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    
                    <div class="navbar-nav ms-auto" style="text-decoration: none; 
                            text-shadow: rgba(1, 1, 1, 0.25) 0px 14px 28px, rgba(1, 1, 1, 0.22) 0px 3px 3px;">
                           
                           <a href="{% url 'admin_index' %}" class="nav-item nav-link " style="font-weight: lighter;">Dashboard</a>
                           <a href="{% url 'dashlegal' %}" class="nav-item nav-link " style="font-weight: lighter;">Seller Approval</a>
                           <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-weight: lighter;">Category</a>
                            <div class="dropdown-menu bg-light rounded-0 m-0">
                                <p class="dropdown-item">{{ user.userprofile.name }}</p>
                                <a href="{% url 'addcategory' %}" class="dropdown-item" style="font-weight: lighter;">Add</a>
                                <a href="{% url 'viewcategory' %}" class="dropdown-item" style="font-weight: lighter;">View</a>
                            </div>
                            </div> 
                            <a href="{% url 'viewproducts' %}" class="nav-item nav-link " style="font-weight: lighter;">View Added product</a>
                                {% if user.is_authenticated %}
                                <div class="nav-item dropdown" style="margin-left: 50px;">
                                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle"></i></a>
                                    <div class="dropdown-menu bg-light rounded-0 m-0">
                                        <p class="dropdown-item">{{ user.userprofile.name }}</p>
                                        <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                                        <a href="{% url 'seller_loggout' %}" class="dropdown-item">Logout</a>
                                    </div>
                                </div>
                                {% else %}
                                <a  class="nav-item nav-link" href="{% url 'loginu' %}" style="font-weight: lighter;">Login <i class="fa fa-arrow-right"></i></a>
                                {% endif %} 
                    </div>
                </div>
        </nav>
        </div>
        </div>
    
    {% elif user.is_staff %}
    <div class="container-fluid sticky-top">
        <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light py-2 py-lg-2 ">
            <a href="index.html" class="navbar-brand animated rubberBand" id="budoralogo" >
                <img class="img-fluid" src="{% static 'images/8.png' %}" alt="Logo">
                <a id="logoname" class="animated rubberBand"  href="#">BUDORA </a>
            </a>
            <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    
                    <div class="navbar-nav ms-auto" style="text-decoration: none;
                            text-shadow: rgba(1, 1, 1, 0.25) 0px 14px 28px, rgba(1, 1, 1, 0.22) 0px 3px 3px;">
                            <a href="{% url 'seller_index' %}" class="nav-item nav-link  text animated pulse" style="font-weight: lighter;">Licence Approval</a>
                            <a href="{% url 'addproducts' %}" class="nav-item nav-link text animated pulse" style="font-weight: lighter;">Add Products</a>
                            <a href="{% url 'viewaddproduct' %}" class="nav-item nav-link text animated pulse" style="font-weight: lighter;">View Products</a>
                        
                                {% if user.is_authenticated %}
                                <div class="nav-item dropdown text animated zoomIn" style="margin-left: 50px;">
                                    <a href="#" class="nav-link dropdown-toggle text animated pulse" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle"></i></a>
                                    <div class="dropdown-menu bg-light rounded-0 m-0">
                                        <p class="dropdown-item">{{ user.userprofile.name }}</p>
                                        <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                                        <a href="{% url 'seller_loggout' %}" class="dropdown-item">Logout</a>
                                    </div>
                                </div>
                                {% else %}
                                <a  class="nav-item nav-link" href="{% url 'loginu' %}" style="font-weight: lighter;">Login <i class="fa fa-arrow-right"></i></a>
                                {% endif %} 
                    </div>
                </div>
        </nav>
        </div>
        </div>


    {% else  %}
    <div class="container-fluid sticky-top">
        <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light py-2 py-lg-2 ">
            <a href="index.html" class="navbar-brand animated rubberBand" id="budoralogo" >
                <img class="img-fluid" src="{% static 'images/8.png' %}" alt="Logo">
                <a id="logoname" class="animated rubberBand"  href="#">BUDORA </a>
            </a>
            <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarCollapse" data-wow-delay="0.1s" >
                <div class="navbar-nav ms-auto" style="text-decoration: none;
                text-shadow: rgba(1, 1, 1, 0.25) 0px 14px 28px, rgba(1, 1, 1, 0.22) 0px 3px 3px;">
                    <a href="{% url 'index' %}" class="nav-item nav-link active text animated zoomIn" style="font-weight: lighter;">Home</a>
                    <a href="{% url 'store' %}" class="nav-item nav-link animated zoomIn" style="font-weight: lighter;">Store</a>
                    {% comment %} <a href="#" class="nav-item nav-link text animated pulse" style="font-weight: lighter;">Rental</a>
                    <a href="#" class="nav-item nav-link text animated pulse" style="font-weight: lighter;">Store</a> {% endcomment %}
        
                    {% if user.is_authenticated %}
        
                    
                    <div class="nav-item dropdown">
                        {% if user.userprofile.profile_pic %}
                        <img src="{{ user.userprofile.profile_pic.url }}" alt="" width="30" height="30" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; margin-top:20px;" class="rounded-circle animated zoomIn">
                        {% else %}
                        <a href="#" class="nav-link dropdown-toggle text animated zoomIn" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle"></i></a>
                        {% endif %}
                        <div class="dropdown-menu bg-light rounded-0 m-0">
                            <p class="dropdown-item">{{ user.userprofile.name }}</p>
                            <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                            <a href="{% url 'loggout' %}" class="dropdown-item">Logout</a>
                        </div>
                    </div>
                    {% else %}
                    <a  class="nav-item nav-link text animated zoomIn" href="{% url 'loginu' %}">Login <i class="fa fa-arrow-right"></i></a>
                    {% endif %}
                    
                </div>
                {% if user.is_authenticated %}
                <div class=" ps-4 d-none d-lg-block">
                    <a class="btn btn-dark rounded-pill m-2 animated zoomIn" style="padding-top:7px; height:30px; width:30px;  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; margin-top:20px;" href="{% url 'wishlist' %}"><i style="margin-left:-5px; " class="fa fa-heart"></i></a>
                </div>
                {% endif %}
                    
                </div>
 
            </div>
        </nav>
        </div>
        </div>
    {% endif  %}
    {% if messages %}
    <div class="error-message" style=" border-style:groove; border-color:red; border-width: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;  height:35px; width:180px;margin-left:20px;margin-left: 5%; margin-top:-20px; ">
        <p style="color: red; margin-left: 20px; margin-top:5px; font-size:larger;">
            {% for message in messages %}
            Profile Updated
            {% endfor %}
                 </p>
            </div>
            {% endif %}
    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <div id="divout" >
        
        {% if user.is_superuser %}
            <h5 id="usern" class=" text animated rubberBand"> Admin </h5>
            {% elif user.is_staff %}
            <h5 id="usern" class=" text animated rubberBand"> Seller </h5>
            {% else  %}
            <h5 id="usern" class=" text animated rubberBand"> User </h5>
            {% endif  %}
        <!-- {{ user.profile.profile_picture.url }} -->
        {% if user.userprofile.profile_pic %}
      <img id="propic" src="{{user.userprofile.profile_pic.url }}" alt="profile pic" class="card-img-top text animated rubberBand"/>
      {% else %}
    <!-- Display a default profile picture or a message if no profile picture is available -->
      <img id="propic" src="{% static 'images/usericon.png' %}" class="card-img-top text animated rubberBand" />
      {% endif %}
        <h5 id="proname" class="text animated zoomIn" >{{ user.userprofile.name }}</h5>

        </div>
                <div id="divout2">
                    {% csrf_token %}
                    <hr  class="text animated zoomIn" id="usern2">
                    <h5  class=" text animated zoomIn" id="usern1"> USERPROFILE </h5>
                    

                    <!-- <div>
                        <label for="profile_picture" class="form-label">Profile Picture:</label>
                        <input type="file"  class="form-control"  id="cardelement" name="profile_picture" style="border-color: #27350F;
                        border-style:solid;
                        border-width: 1px;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        width: 300px;
                        height: 40px;
                        padding: 10px;">
                    </div> -->
                    <div>
                        {% if user.is_staff %}
                            <label for="name" id="carde" class="form-label text animated zoomIn">Full Name:</label>
                            <hr class=" text animated zoomIn" id="signintext2">
                            <input type="text" class="form-control text animated zoomIn" value="{{ user.userprofile.name }}" name="name" id="cardelement" >
                            <span id="owner_name_error" class="text-danger"></span>
                        {% else %}
                            <label for="name" id="carde" class="form-label text animated zoomIn">Full Name:</label>
                            <hr class=" text animated zoomIn" id="signintext2">
                            <input type="text" class="form-control text animated zoomIn" value="{{ user.userprofile.name }}" name="name" id="cardelement" >
                            <span id="owner_name_error" class="text-danger"></span>

                        {% endif  %}
                        
                    </div>
                    <div>
                        <label for="profile_pic"  id="carde"  class="form-label text animated zoomIn">Profile Picture:</label><br>
                        <hr class=" text animated zoomIn" id="signintext2">
                        <input type="file"  class="form-control text animated zoomIn"  id="cardelement" name="profile_pic" >
                        <span id="profilepicerror" class="text-danger"></span>

                    </div>
                    <div>
                        <label for="email" id="carde" class="form-label text animated zoomIn">Email:</label>
                        <hr class=" text animated zoomIn" id="signintext2">
                        <input type="email"  class="form-control text animated zoomIn" id="cardelement" name="email" value="{{ user.email }}" readonly>
                    </div>
                    <div>
                        {% if user.is_staff %}
                        <label for="phone_number" id="carde" class="form-label text animated zoomIn" >Phone Number:</label>
                        <hr class=" text animated zoomIn" id="signintext2">
                        <input class="form-control text animated zoomIn" id="cardelement" name="phone_number" value="{{ user.seller.contact }}">
                        <span id="phone_number_error" class="text-danger"></span>

                        {% else %}
                        <label for="phone_number" id="carde" class="form-label text animated zoomIn" >Phone Number:</label>
                        <hr class=" text animated zoomIn" id="signintext2">
                        <input class="form-control text animated zoomIn" id="cardelement" name="phone_number" value="{{ user.userprofile.phone_number }}">
                        <span id="phone_number_error" class="text-danger"></span>

                        {% endif  %}
                        
                    </div>
                    <div>
                        {% if user.is_staff %}
                        <label for="address" id="carde" class="form-label text animated zoomIn">Address:</label>
                        <hr class=" text animated zoomIn" id="signintext2">
                        <input type="text" class="form-control text animated zoomIn"  id="cardelement" value="{{ user.seller.address }}" name="address">
                        <span id="address_error" class="text-danger"></span>

                        {% else %}
                        <label for="address" id="carde" class="form-label text animated zoomIn">Address:</label>
                        <hr class=" text animated zoomIn" id="signintext2">
                        <input type="text" class="form-control text animated zoomIn"  id="cardelement" value="{{ user.userprofile.address }}" name="address">
                        <span id="address_error" class="text-danger"></span>

                        {% endif  %}
                        
                    </div>
                    <button class=" text animated zoomIn" type="submit" id="signinbtn" >Update</button>
                    
                </div>
    </form>
    </div>
    <div class="col-md-8">
        <!-- Other content related to user profile -->
    </div>
</div>
<script>
    
    $(document).ready(function () {
      $("input[name='profile_pic']").change(function () {
        validateProfileImage("input[name='profile_pic']");
      });
    
      $("input[name='name']").keyup(function () {
        validateName("input[name='name']");
      });
    
      $("input[name='phone_number']").keyup(function () {
        validatePhoneNumber("input[name='phone_number']");
      });
    
      $("input[name='address']").keyup(function () {
        validateAddress("input[name='address']");
      });
  });  
      function validateProfileImage(fieldSelector) {
        var certificationImage = $(fieldSelector).val().trim();
        var certificationImageError = $("#profilepicerror");
        if (certificationImage === "") {
        $("#profilepicerror").html("Store License Image is required").css("color", "red");
          certificationImageError.text("Store License Image is required").css("color", "red");
        } else {
          $("#profilepicerror").html("").css("color", "red");
      }
      }
    
      function validateName(fieldSelector) {
        var ownerName = $(fieldSelector).val().trim();
        var lettersOnlyPattern = /^[A-Za-z\s]+$/;
    
        if (ownerName === "") {
          $("#owner_name_error").html("Enter your Owner name").css("color", "red");
        } else if (!lettersOnlyPattern.test(ownerName)) {
          $("#owner_name_error").html("Owner Name should contain only letters").css("color", "red");
       } else {
          $("#owner_name_error").html("");
      }
      }
    
      function validatePhoneNumber(fieldSelector) {
        var phoneNumber = $(fieldSelector).val().trim();
        var phoneNumberPattern = /^(\+91-|0)?[6-9]\d{9}$/; // Adjust the pattern based on your phone number requirements
    
        if (phoneNumber === "") {
            $("#phone_number_error").html("Phone Number is required").css("color", "red");
        } else if (!phoneNumberPattern.test(phoneNumber)) {
            $("#phone_number_error").html("Phone Number should be atleast 10 numbers and cannot contain alphabets").css("color", "red");
        } else {
            $("#phone_number_error").html(""); // Clear the error message
        }
    }
    
    function validateAddress(fieldSelector) {
        var address = $(fieldSelector).val().trim();
    
        if (address === "") {
            $("#address_error").html("Address is required").css("color", "red");
        } else {
            $("#address_error").html(""); // Clear the error message
        }
    }   
      // Add other validations if needed
  
    
  
  </script>
</body>




