{% load static %}
<body style="background-image: url({% static 'images/5.png' %}); background-repeat: no-repeat; background-size: cover;">
{% block content %}
<div class="container">
    <h1>Forgotten your password?</h1>
    <p>Enter your e-mail address below to obtain a new password.</p>
    <form action="." method="post">
        {{ form.as_p }}
        <p><input type="submit" id="subbtn" value="Send e-mail"></p>
        {% csrf_token %}
    </form>
</div>
{% endblock %}
</body>
<style>
    

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 600px;
    margin: 250 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

h1 {
    margin-left: 20%;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 10%;

}

form {
    margin-top: 10px;
    margin-left: 16%;
}

#subbtn
{
    
    background-color: #27350F;
    border-radius: 100px;
    margin-top: 10px;
    margin-left: 16%;

    
    color: white;
    width: 100px;
    transition: 0.5s;
    height: 35px;
    border-style: none;
}
#subbtn:focus {
    color: #27350F;
    background-color: white;
    border-width: 1px;
    border-style: groove;
    border-color: #27350F;
    fill: #27350F;
}

#subbtn:hover {
    background-color: white;
    border-width: 1px;
    border-style: groove;

    border-color: #27350F;
    color: #27350F;
    fill: #27350F;
}
#subbtn:not([disabled]):focus {
    box-shadow:  0 0 0.5rem #27350F;
  }
  
  #subbtn:not([disabled]):hover {
    box-shadow: 0 0 0.5rem #27350F;
  }
  #subbtn:active {
  
    color: #27350F;
    border-style: groove;

    background-color: white;
    border-width: 1px;
    border-color: #27350F;
    fill: #27350F;
}

</style>

