{% extends 'admin/base1.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <div class="d-flex align-items-center align-self-start">
                <h3 class="mb-0">500</h3>
                <p class="text-success ml-2 mb-0 font-weight-medium">+</p>
              </div>
            </div>
            <div class="col-3">
              <div class="icon icon-box-success ">
                <span class="mdi mdi-account icon-item"></span>
              </div>
            </div>
          </div>
          <h6 class="text-muted font-weight-normal">Users Registered</h6>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <div class="d-flex align-items-center align-self-start">
                <h3 class="mb-0">40</h3>
                <p class="text-success ml-2 mb-0 font-weight-medium">+</p>
              </div>
            </div>
            <div class="col-3">
              <div class="icon icon-box-success">
                <span class="mdi mdi-store icon-item"></span>
              </div>
            </div>
          </div>
          <h6 class="text-muted font-weight-normal">Stores Registered</h6>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <div class="d-flex align-items-center align-self-start">
                <h3 class="mb-0">40</h3>
                <p class="text-success ml-2 mb-0 font-weight-medium">+</p>
              </div>
            </div>
            <div class="col-3">
              <div class="icon icon-box-success ">
                <span class="mdi mdi-flower icon-item"></span>
              </div>
            </div>
          </div>
          <h6 class="text-muted font-weight-normal">Products Added</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h2 class="mb-0">Users</h2>
              </div>
              <h6 class="text-muted font-weight-normal">Manage Seller approvals and registered users</h6>
              <a class="text-success" style="text-decoration: none;" href="{% url 'dashlegal' %}">Seller Approval</a><br>
              <a class="text-success" style="text-decoration: none;" href="{% url 'user_list' %}">Manage Registered Users</a>
            </div>
            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
              <i class="icon-lg mdi mdi-account text-primary ml-auto"></i>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h2 class="mb-0">Products</h2>
              </div>
              <h6 class="text-muted font-weight-normal">Manage stock and view product listings</h6>
              <a class="text-success" style="text-decoration: none;" href="{% url 'viewstock' %}" id="stock">View Stock</a><br>
              <a class="text-success" style="text-decoration: none;" href="{% url 'viewproducts' %}">View Products</a>
            </div>
            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
              <i class="icon-lg mdi mdi-store text-primary ml-auto"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h2 class="mb-0">Category</h2>
              </div>
              <h6 class="text-muted font-weight-normal">Manage product categories and view existing categories</h6>
              <a class="text-success" style="text-decoration: none;" href="{% url 'addcategory' %}">Add Category</a><br>
              <a class="text-success" style="text-decoration: none;" href="{% url 'viewcategory' %}">View Category</a>
            </div>
            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
              <i class="icon-lg mdi mdi-folder text-primary ml-auto"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    {% endblock %}

