/* Style for the dashboard container */
.card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: none;
}

/* Style for each section */
.dashboard-section {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

/* Style for section titles */
.section-title {
    color: #27350F;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style for subsection links */
.dashboard-subsection {
    margin-top: 20px;
}

.dashboard-link {
    display: block;
    color: green;
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0;
    transition: color 0.3s;
}

.dashboard-link:hover {
    color: #27350F;
    font-size: larger;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .dashboard-section {
        width: 100%;
    }
}
