body {
    
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 20px;
}

#logoimg
{
    width: 50px;
    height: 50px;
    margin-left: 138px;
    margin-top: 20px;
}

#logoname
{
    display: flex;
    width: 50px;
    height: 50px;
    font-size: large;
    margin-left: 80px;
    margin-top: -25px;
    font-family: sans-serif;
    color:#27350F;
    text-decoration: none;
    text-shadow: rgba(1, 1, 1, 0.25) 0px 14px 28px, rgba(1, 1, 1, 0.22) 0px 3px 3px;

}

.signup
{
    width: min(100%,100%);
}
#signuptext
{
    margin-left: 80px;
    width:min(100%,150px); 
    color:#27350F; 
    font-size: larger;
}
#signuptext1
{
    margin-left: 2px;
}
#signuptext2
{
    width: 70px;
    margin-top: -28px;
    margin-left: 65px;
    border-radius: 30%;
}
#signuptext3
{
    margin-top: -3px;
    
}
.signup-form
{
    width:min(100%,650px); 
    margin-left: 58px;
    margin-top: -10px;
    height: 300px;
}
.signupelement
{
    border-color: #27350F;
    border-style:solid;
    border-width: 1px;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 300px;
    height: 40px;
    padding: 10px;
}

.signupelement:focus {
    border-style: hidden;
    
  }
  
  .signupelement:hover {
    border-color: darkgreen;
  background-color: white;
  border-style: hidden;
  fill: darkgreen;
  }
span
{
    margin-left: 20px;
} 

.signupbtn
{
    background-color: #27350F;
    border-radius: 100px;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    width: 100px;
    transition: 0.5s;
    height: 35px;
    border-style: none;
}
.signupbtn:focus {
    color: #27350F;
    background-color: white;
    border-width: 1px;
    border-style: groove;
    border-color: #27350F;
    fill: #27350F;
  }
  
  .signupbtn:hover {
    
    background-color: white;
    border-width: 1px;
    border-style: groove;

    border-color: #27350F;
    color: #27350F;
    fill: #27350F;
    
  }
  .signupbtn:not([disabled]):focus {
    box-shadow:  0 0 0.5rem #27350F;
  }
  
  .signupbtn:not([disabled]):hover {
    box-shadow: 0 0 0.5rem #27350F;
  }
  .signupbtn:active {
   
    color: #27350F;
    border-style: groove;

    background-color: white;
    border-width: 1px;
    border-color: #27350F;
    fill: #27350F;
  }
   
#signupelement2
{
    margin-left: 26px;
    font-size: small;
    color: #27350F;
}
 
.signupimg 
{
    width: 10px;
}
#img1
{
    width: 700px;
    margin-left: 665.9px;
    margin-top: -400px;

}
.icon-container {
    display: flex;
    justify-content: center;
    margin-top: 35px;

    width: 100px;
    margin-left: 25px;
}

#icon {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

#icon:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 768px) {
    .signup {
        width: 90%;
        margin-left: 5%;
    }

    .signup-form {
  
        margin-left: 8%;
    }
    .signupimg {
        display: none;
    }

   
    #img1 {
        display: none;
    }

    #signuptext
    {
        margin-left: 12%;
    }
}

@media screen and (max-width: 480px) {
    #logoname {
        font-size: small;
    }

    .signup {
        margin-top: 20px;
    }

    .signup-form {
        
  
        margin-left: 5%;
    }

    .signupelement {
        width: 90%;
        margin-left: 5%;
    }

    .signupbtn {
        width: 80%;
        margin-left: 10%;
    }

    #signupelement2 {
        margin-left: 5%;
    }

    #signupelement3 {
        margin-left: 5%;
    }

    #img1 {
        display: none;
    }
}

